<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I am an aspiring software developer with interest in web technologies. I have acquired strong skills in Front-End Web technologies and I am refining my skills in Back-End technologies.

When I am not coding, I love watching documentaries, browsing the net, reading whitepapers on technology. I also listen to podcasts, my best podcasts being The Entrepreneur, Minority Trailblazer by Gregory Hill and Developer on Fire. All of this contribute to improving my intellectual abilities.
I am currently working on two startups which I co-founded with my friends.

I am always on the lookout for new opportunities and challenges. If you would like to connect, give me a challenge or an opportunity, please do not hesitate to contact me on my email </p>
</div><!--//summary-->
</section><!--//section-->
